# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Large assets: background image exr., quiz images
public/hdrs/
public/models/
public/output_pngs/
hdrs/.hdr

# Local data / outputs
screenshots/
wifi_*.csv
*.zip
*.rar

#backstage data
record.csv

# OS
.DS_Store
Thumbs.db
/images
